.box-chat {
    background-color: rgb(242, 205, 23);
    height: 50px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    margin-bottom: 10px;
    justify-content: flex-start; /* Căn theo chiều ngang */
    align-items: center; /* Căn theo chiều dọc */
    transition: background-color 0.3s; /* Thêm hiệu ứng chuyển màu nền */
    cursor: pointer;
}
.box-chat:hover{
    background-color: rgb(247, 204, 148);
}
.box-chat .avt-user{
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    justify-content: flex-start;
}
.box-chat .room-name {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    height: 50px;
    font-size: 20px;
    flex-grow: 1;
}
.active{
    background-color: rgb(247, 204, 148);
}
.scroll-bar{
    height: 600px;
    background-color: rgb(67, 150, 222);
    max-height: 600px;
    overflow-y: scroll;
}